@font-face {
  font-family: "Induction";
  src: url("/assets/font/Induction-Regular.woff2") format("woff2"),
    url("/assets/font/Induction-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.btn {
  padding: 15px 30px;
  background-color: #b70000;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s all;

  &:hover,
  &:focus {
    border-radius: 15px;
    cursor: pointer;
  }
}

.red-word {
  color: #b70000;
  font-weight: 500;
}

.app {
  font-family: "Induction";
  width: 100%;
  background: #121212;
  color: #ffffff;
  &__content {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;

  &__title {
    font-size: 36px;
    text-transform: uppercase;
  }

  &__menu {
    display: flex;
    list-style: none;

    &--item {
      margin: 0 20px;
      padding: 5px 0;

      &:hover {
        cursor: pointer;
      }

      &.active {
        border-bottom: 1px solid #b70000;
      }
    }
  }
}

.hero {
  margin-bottom: 200px;
  &__intro {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 90px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__left-col {
    width: 50%;
    padding-left: 40px;
  }

  &__right-col {
    width: 50%;
    display: flex;
    justify-content: center;

    img {
      max-height: 600px;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
  }
}

.stats {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;

  &__item {
    margin: 0 80px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 600;

    &--numeral {
      font-size: 48px;
      margin: 0;
    }

    &--type {
      margin: 0;
      color: #b70000;
      font-size: 20px;
      font-weight: 300;
    }
  }
}

.download {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;

  &__left-col {
    width: 50%;
  }

  &__right-col {
    width: 50%;
    padding-left: 100px;
  }

  &__desc {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: 300;
    margin: 0;
  }

  &__store {
    display: flex;

    img {
      max-width: 220px;
    }

    &--googleplay {
      margin-left: 20px;
    }

    &--appstore:hover,
    &--googleplay:hover {
      cursor: pointer;
    }
  }
}

.partners {
  margin-bottom: 150px;
  &__title {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
  }

  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

    &--item {
      margin: 0 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100px;
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
  }
}

.discover {
  margin-bottom: 200px;
  &__list {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    margin-bottom: 100px;

    &--item {
      padding: 30px;
      border: 1px solid #ffffff;
      border-radius: 10px;
      width: 150px;

      h3 {
        font-size: 24px;
        padding-bottom: 20px;
        border-bottom: 1px solid #b70000;
        width: 100%;
        text-align: center;
      }

      &.active {
        margin: 0 100px;
        transform: scale(1.1);
        border: 1px solid #b70000;
        background-color: #222222;
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
  }
}

.contact {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 200px;

  &__title {
    font-family: "Induction";
    font-size: 30px;
    margin-bottom: 50px;
  }
  .container {
    display: flex;
    justify-content: center;
  }

  &__left-col {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #b70000;
  }

  &__right-col {
    width: 75%;
    display: flex;
    justify-content: center;
  }

  &__form {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .form--control {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 15px;

      label {
        margin-bottom: 5px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 300;
      }

      input {
        border: 2px solid #b70000;
        border-radius: 15px;
        padding: 10px;
        background: transparent;
        color: #ffffff;

        &::placeholder {
          color: #949494;
          text-transform: uppercase;
        }

        &:active,
        &:focus {
          border: 2px solid #b70000;
          outline: none;
        }
      }
    }
    .form--row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 15px;

      .form--control {
        width: 47%;
      }
    }

    button {
      align-self: flex-end;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;

  &__col {
    &:first-child {
      align-self: center;
    }
    &--list {
      &-item {
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        text-transform: capitalize;
        margin: 5px 0;
        transition: 0.3s all;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
