@font-face {
  font-family: "Induction";
  src: url("/assets/font/Induction-Regular.woff2") format("woff2"), url("/assets/font/Induction-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.btn {
  padding: 15px 30px;
  background-color: #b70000;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s all;
}
.btn:hover, .btn:focus {
  border-radius: 15px;
  cursor: pointer;
}

.red-word {
  color: #b70000;
  font-weight: 500;
}

.app {
  font-family: "Induction";
  width: 100%;
  background: #121212;
  color: #ffffff;
}
.app__content {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}
.header__title {
  font-size: 36px;
  text-transform: uppercase;
}
.header__menu {
  display: flex;
  list-style: none;
}
.header__menu--item {
  margin: 0 20px;
  padding: 5px 0;
}
.header__menu--item:hover {
  cursor: pointer;
}
.header__menu--item.active {
  border-bottom: 1px solid #b70000;
}

.hero {
  margin-bottom: 200px;
}
.hero__intro {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__title {
  font-size: 90px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
}
.hero__left-col {
  width: 50%;
  padding-left: 40px;
}
.hero__right-col {
  width: 50%;
  display: flex;
  justify-content: center;
}
.hero__right-col img {
  max-height: 600px;
}
.hero__btn {
  display: flex;
  justify-content: center;
}

.stats {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}
.stats__item {
  margin: 0 80px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
.stats__item--numeral {
  font-size: 48px;
  margin: 0;
}
.stats__item--type {
  margin: 0;
  color: #b70000;
  font-size: 20px;
  font-weight: 300;
}

.download {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
.download__left-col {
  width: 50%;
}
.download__right-col {
  width: 50%;
  padding-left: 100px;
}
.download__desc {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 300;
  margin: 0;
}
.download__store {
  display: flex;
}
.download__store img {
  max-width: 220px;
}
.download__store--googleplay {
  margin-left: 20px;
}
.download__store--appstore:hover, .download__store--googleplay:hover {
  cursor: pointer;
}

.partners {
  margin-bottom: 150px;
}
.partners__title {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin-bottom: 100px;
}
.partners__list {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.partners__list--item {
  margin: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners__list--item img {
  width: 100px;
}
.partners__btn {
  display: flex;
  justify-content: center;
}

.discover {
  margin-bottom: 200px;
}
.discover__list {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  margin-bottom: 100px;
}
.discover__list--item {
  padding: 30px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 150px;
}
.discover__list--item h3 {
  font-size: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #b70000;
  width: 100%;
  text-align: center;
}
.discover__list--item.active {
  margin: 0 100px;
  transform: scale(1.1);
  border: 1px solid #b70000;
  background-color: #222222;
}
.discover__btn {
  display: flex;
  justify-content: center;
}

.contact {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 200px;
}
.contact__title {
  font-family: "Induction";
  font-size: 30px;
  margin-bottom: 50px;
}
.contact .container {
  display: flex;
  justify-content: center;
}
.contact__left-col {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #b70000;
}
.contact__right-col {
  width: 75%;
  display: flex;
  justify-content: center;
}
.contact__form {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contact__form .form--control {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}
.contact__form .form--control label {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
}
.contact__form .form--control input {
  border: 2px solid #b70000;
  border-radius: 15px;
  padding: 10px;
  background: transparent;
  color: #ffffff;
}
.contact__form .form--control input::-moz-placeholder {
  color: #949494;
  text-transform: uppercase;
}
.contact__form .form--control input:-ms-input-placeholder {
  color: #949494;
  text-transform: uppercase;
}
.contact__form .form--control input::placeholder {
  color: #949494;
  text-transform: uppercase;
}
.contact__form .form--control input:active, .contact__form .form--control input:focus {
  border: 2px solid #b70000;
  outline: none;
}
.contact__form .form--row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}
.contact__form .form--row .form--control {
  width: 47%;
}
.contact__form button {
  align-self: flex-end;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}
.footer__col:first-child {
  align-self: center;
}
.footer__col--list-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: capitalize;
  margin: 5px 0;
  transition: 0.3s all;
}
.footer__col--list-item:hover {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */